# Gradle files
.gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Keystore files
*.jks
*.keystore

# IntelliJ IDEA
*.iml
*.iws
/out/

# MacOS
.DS_Store