[versions]
android-gradle = "7.1.3"
kotlin = "1.6.10"
compose = "1.1.1"

[libraries]
core-ktx =                    { group = "androidx.core",              name = "core-ktx",              version = "1.7.0" }
lifecycle-runtime-ktx =       { group = "androidx.lifecycle",         name = "lifecycle-runtime-ktx", version = "2.3.1" }
compose-ui =                  { group = "androidx.compose.ui",        name = "ui",                    version.ref = "compose" }
compose-ui-tooling =          { group = "androidx.compose.ui",        name = "ui-tooling",            version.ref = "compose" }
compose-ui-tooling-preview =  { group = "androidx.compose.ui",        name = "ui-tooling-preview",    version.ref = "compose" }
compose-material =            { group = "androidx.compose.material",  name = "material",              version.ref = "compose" }
activity-compose =            { group = "androidx.activity",          name = "activity-compose",      version = "1.3.1" }


[bundles]
compose = ["compose-ui", "compose-ui-tooling-preview", "compose.material"]

[plugins]
android-app = { id = "com.android.application", version.ref = "android-gradle" }
android-library = { id = "com.android.library", version.ref = "android-gradle" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }